<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Plot</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="graph"></div>
</body>

<script type="text/javascript">
    var intervalId;
    var graph = document.getElementById('graph');

    var trace1 = {
        x: [0],
        y: [0],
        type: 'scatter',
        xaxis: 'x1',
        yaxis: 'y1',
        name: 'Trace 1'
        };

        var trace2 = {
        x: [0],
        y: [0],
        xaxis: 'x2',
        yaxis: 'y2',
        type: 'scatter',
        name: 'Trace 2'
        };

        var data = [trace1, trace2];

        var layout = {
            grid: {rows: 2, columns: 1, pattern: 'independent', roworder: 'top to bottom'},
            responsive: true,
            title: {
            text: 'Real-Time Plot',
            xref: 'paper',
            x: 0.5,
            xanchor: 'center',
            yref: 'container',
            y: 0.95,
            yanchor: 'top',
            font: {
                size: 24
            }
        }
        };

        Plotly.newPlot('graph', data, layout);


    function updatePlot() {
        // Retrieve data from the server
        $.getJSON('/data', function(data) {

            Plotly.restyle(graph, {
                x: [data.data[0].x, data.data[1].x],
                y: [data.data[0].y, data.data[1].y]
            });

        });
    }

    // Start the real-time data update
    intervalId = setInterval(updatePlot, 2000);
</script>
</html>
