<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Plot</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="graph"></div>
</body>

<script type="text/javascript">
    var intervalId;
var graph = document.getElementById('graph');

var trace1 = {
    y: [0],
    type: 'scatter',
    xaxis: 'x1',
    yaxis: 'y1',
    name: 'Trace 1'
};

var trace11 = {
    y: [0],
    type: 'scatter',
    xaxis: 'x1',
    yaxis: 'y1',
    name: 'Trace 11'
};

var trace2 = {
    y: [0],
    xaxis: 'x2',
    yaxis: 'y2',
    type: 'scatter',
    name: 'Trace 2'
};

var initial_data = [trace1, trace11, trace2];

var layout = {
    grid: { rows: 2, columns: 1, pattern: 'independent', roworder: 'top to bottom' },
    responsive: true,
    title: {
        text: 'Real-Time Plot',
        xref: 'paper',
        x: 0.5,
        xanchor: 'center',
        yref: 'container',
        y: 0.95,
        yanchor: 'top',
        font: {
            size: 24
        }
    },
    xaxis2: {
        title: {
            text: 'Time',
            font: {
                size: 18,
                color: '#7f7f7f'
            }
        }
    }
};



function createPlot() {
    // Retrieve data from the server
    $.getJSON('/config', function (data) {
        // Update the plot with the new configuration
        console.log(data)
        Plotly.newPlot('graph', data.traces, data.layout);
    });
}


function updatePlot() {
    // Retrieve data from the server
    $.getJSON('/data', function (data) {
        // Append new points to each trace
        for (var i = 0; i < data.data.length; i++) {
            Plotly.extendTraces(graph, {
                y: [data.data[i].y]
            }, [i]);
        }
    });
}

// Create the plot
createPlot();

// Start the real-time data update
intervalId = setInterval(updatePlot, 2000);

</script>
</html>
